.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin-top: 64px !important;
}

a {
  mat-icon {
    margin-right: 10px;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 920px) {
  .container {
    width: 95%;
  }
}
