/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: #303030;
  box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  margin-top: 114px;
}

.mat-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.error-hint {
  color: #F44336;
}

a {
  text-decoration: none;
  color: #B0BEC5;

  &:hover {
    color: #99abb5;
  }
}

.auth-form {
  width: 50%;
  margin: 50px auto;

  .title, .signup {
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-direction: column;

    .mat-form-field, .mat-raised-button {
      width: 100%;
    }

    .mat-raised-button {
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width: 760px) {
  .auth-form {
    width: 95%;
  }
}
